@font-face {
  font-family: FreightSansLight;
  src: url('FreightSansLight.otf');
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.34;
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  align-items: center;
  background: linear-gradient(rgb(78, 105, 162), rgb(59, 89, 152) 50%);
  display: flex;
  font-size: 12px;
  font-family: Helvetica, Arial, sans-serif;
  font-style: inherit;
  justify-content: space-around;
  max-width: 100%;

}

h1 {
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 0;
  justify-content: center;
}

.button-login {
  background-color: rgb(62, 97, 168);
  border: 1px solid rgb(48, 76, 130);
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  height: 24px;
  width: 48px;
}

.facebook-logo {
  height: 78px;
  margin-left: -18px;
}

.forgot-link {
  color: rgb(156, 180, 216);
}


.header-section {
  color: white;
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  font-style: inherit;
  justify-content: space-between;
  width: 980px;
}

.user-email-phone {
  margin: 0;
  padding: 0;
  padding-right: 14px;
<<<<<<< HEAD
}

.user-password {
  margin: 0;
  padding: 0;
  padding-left: 30px;
=======
>>>>>>> f785bdaf39ec8a5ce376d56de16e4e30397c5a19
}

.user-login {
  align-items: flex-start;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.user-login:last-child {
  align-items: center;
}

<<<<<<< HEAD
/* ARTICLE */
=======
.user-password {
  margin: 0;
  padding: 0;
  padding-left: 30px;
}

.abraConta {
  padding: 20px 0;
}

>>>>>>> f785bdaf39ec8a5ce376d56de16e4e30397c5a19
.container {
  background: linear-gradient(white, #d3d8e8);
  display: flex;
  flex-direction: row;
  font-family: Helvetica, Arial, sans-serif;
  justify-self: center;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
}

.content {
  width: 980px;
  display: flex;
}

<<<<<<< HEAD
=======
/* ARTICLE */
>>>>>>> f785bdaf39ec8a5ce376d56de16e4e30397c5a19
article {
  display: flex;
  padding: 10px;
  font-weight: 700;
  flex-flow: column nowrap;
}

.abraConta {
  padding: 20px 0;
}

input {
  margin: 15px;
  padding: 10px;
}

.cadastro {
  display: flex;
  flex-flow: column;
}

.cadastro > input , .cadastro > div > input {
  border-color: #bdc7d8;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
  color: #1c1e21;
  font-size: 18px;
  padding: 8px 10px;
  margin: 5px;
  background-color: transparent;
}

.leftSide {
  display: flex;
  width: 565px;
}

.leftSide > p {
  color: #0e385f;
  font-size: 20px;
  font-weight: 700;
  line-height: 29px;
  margin-top: 40px;
  width: 450px;
  word-spacing: -1px;
  margin-right: 15px;
}

.radio {
  color: #1d2129;
  flex-flow: nowrap row;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  padding: 0 10px 0 3px;
}

.cadastro > label {
  color: #90949c;
}

.registerButton {
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  border-color: #3b6e22 #3b6e22 #2c5115;
  font: 2000 13.333px FreightSansLight, Helvetica, sans-serif;
  border: 1px solid;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  max-width: 194px;
  padding: 7px 20px;
  text-align: center;
}

.nome {
  display: flex;
}

.disclaimer {
  color: #777;
  font-size: 11px;
  width: 316px;
}
