body {
  margin: 0;
}

label {
  color: white;
}

.facebook-logo {
  color: white;
  font-family: sans-serif;
  justify-content: flex-start;
}

.textoCanto {
  align-items: flex-start;
  display: flex;
  width: 50%;
}

.top-bar {
  background-color: rgb(36, 36, 207);
  border: black 1px solid;
  display: flex;
  height: 80px;
  width: 100%;
}
